
__pycache__/database.cpython-39.pyc
__pycache__/utils.cpython-37.pyc
__pycache__/utils.cpython-39.pyc
__pycache__/views.cpython-37.pyc
__pycache__/views.cpython-39.pyc
__pycache__/servidor.cpython-39.pyc
