<div class = "card">
<form class = "note-delete" method = "post" id = "delete-{id}" action = "/delete"></form>
<form class = "note-update" method = "post" id = "update-{id}" action = "/update"></form>

<!-- deleção de notes -->
<div>
  <button form = "delete-{id}" class = "deleteX">
    X
  </button> 
  <textarea name = "id" class = "id" form = "delete-{id}" >
    {id}
  </textarea>
</div>

<!--edição de notes-->
<div>
  <button form = "update-{id}" class = "editIcon" action = "/update">
    edit
  </button> 
  <textarea name = "id" class = "id" form = "update-{id}" >
    {id}
  </textarea>
</div>

<textarea name = "title" class = "card-title" form = "update-{id}">
    {title}
  </textarea>
  <div class = "card-content" form = "update-{id}">
    <textarea name = "content" form="update-{id}">
      {details}
    </textarea>
  </div>
</div>
  